# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.iml
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Kauri Project Files
**/.idea/*.*
**/out/*.*
Kauri/.idea/misc.xml
*.lst
Kauri/API/target/**
Kauri/Impl/target/**
Kauri/.idea/**
.idea/**
/Impl/target/**
API/target/**
